.App {
  display: flex;
  /*justify-content: center;*/
  justify-content: flex-start; /* Align items at the start (top) */
  align-items: center;
  height: 150vh;
  width: 100vw;
  background-color: #39399a;
}

.leaf {
  font-size: 2rem;
}